[Unit]
Description=SoftEther VPN server
After=syslog.target
After=network.target

[Service]
Type=forking
ExecStart={{ softether_install_path }}/vpnserver start
ExecStop={{ softether_install_path }}/vpnserver stop

[Install]
WantedBy=multi-user.target
